# Ignore Python virtual environment
venv/
DT_venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore temporary editor files
*.swp
*.swo

# Ignore build directories
build/
dist/

# Ignore macOS system files
.DS_Store

# Ignore the large dataset file
Na22_filtered_data/
efficient-kan/
faster_kan/
Deprecated_notebooks/
Co60_filtered_data_gate1/
KAN_models/
#Spectograms/
#Pycaret_cosas/
pykan/
predictions/
efficient_kan/

